layer_Numbers {
    bindings = <
        &trans          &trans          &trans          &trans          &trans                                                                                                                                          &trans          &trans          &trans          &trans          &none
        &trans          &trans          &trans          &trans          &trans          &trans                                                                                                          &trans          &trans          &trans          &trans          &trans          &none
        &trans          &trans          &trans          &trans          &trans          &trans                                                                                                          &trans          &kp N1          &kp N2          &kp N3          &kp N4          &none
        &trans          &trans          &trans          &trans          &trans          &trans                                                                                                          &trans          &kp N5          &kp N6          &kp N7          &kp N8          &none
        &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &kp LCTRL       &mo LAYER_FuncKeys &trans       &kp N9          &kp N0          &trans          &trans          &none
        &trans          &trans          &trans          &trans          &trans                          &trans          &trans          &trans          &trans          &trans          &trans                          &trans          &trans          &trans          &trans          &none
    >;
};
